<div id="signup">
  <div class="container">
    
    <div class="well">
    
    <% if @settings.initialized_flag %>
      <h4>New <%= @settings.contributor_reference %>?</h4>
      <p>Please create an account to continue.</p>
    <% else %>
      <h4>New Crowdhoster App</h4>
      <p>Looks like this is a new Crowdhoster App! Go ahead and create a user that will serve as your project admin:</p>
    <% end %>
    
    <%= render "devise/registrations/registration_form" %>
    
     <%= link_to "Already have an account?", new_session_path(resource_name) %><br />
    
    </div>
    
  </div>
</div>