<div id="signup">
  <div class="container">
    
    <div class="well">
    <h4>New Backer?</h4>
    <p>Please create an account to continue.</p>
    
    <%= render "devise/registrations/registration_form" %>
    
     <%= link_to "Already have an account?", new_session_path(resource_name) %><br />
    
    </div>
    
  </div>
</div>