<div id="second_call_to_action">
  <div class="container">
    <div><%= raw(@campaign.secondary_call_to_action_description) %></div>
    <div class="center">
      <% if @campaign.is_expired %>
        <span class="blue_button expired">
          <%= @campaign.secondary_call_to_action_button %>
        </span>           
      <% else %>
        <a href="<%= url_for checkout_amount_path %>" class="blue_button">
          <%= @campaign.secondary_call_to_action_button %>
        </a>
      <% end %>
    </div>
  </div>
</div>


