<div id="admin-footer">
  <div class="container clearfix">
  	<p class="pull-left"><a href="http://www.crowdhoster.com" target="_blank">Powered by Crowdhoster // A Crowdtilt Project</a></p>
    <p class="pull-right">© 2013 Crowdhoster.com</p>
  </div>
</div>