<div id="admin_header">
  <div class="container clearfix">
  
    <h3>
      Admin > <%= link_to @settings.project_name, root_url, class: 'show-loader' %>
      <span id="header-loader" class="loader" style="display:none"></span>  
    </h3>
    
    
  </div>
</div>