<div id="admin_header">
  <div class="container clearfix">
  
    <h3>Admin >> <%= link_to @settings.product_name, root_url %></h3>
    
    <ul class="nav nav-pills">
      <li class="active">
        <%= link_to "Project", admin_project_path %>
      </li>
      <li><a href="#">Contributors</a></li>
      <li><a href="#">Payment Settings</a></li>
    </ul>
  </div>
</div>