<div class="container clearfix">
  <ul class="nav nav-pills">
    <li>
      <%= link_to "Project", admin_project_path, class: 'show-loader' %>
    </li>
    <li>
      <%= link_to "Contributors", admin_contributors_path, class: 'show-loader' %>
    </li>
    <li class="active">
      <%= link_to "Bank Setup", admin_bank_setup_path, class: 'show-loader' %>
    </li>
  </ul>
</div>

<div id="admin_contributors">
  <div class="container clearfix">
  <p>[Bank setup form]</p>
  </div>
</div>