<div id="start">
  <div class="container clearfix">
    <div class="well">
    <% if !user_signed_in? %>
      <h4>New CrowdHoster App</h4>
      <p>Looks like this is a new CrowdHoster App! Go ahead and create a user that will serve as your project admin:</p>
    
      <%= render "devise/registrations/registration_form" %>
    <% else %>
      
      <p>All right! Now that you are signed in, go ahead and initialize the app to get started:</p>
      
      <%= link_to "Initialize App", start_init_path, class: "btn btn-primary" %>
      
    <% end %>
    </div>
  </div>
</div>