<div id="second_call_to_action">
  <div class="container">
    <div><%= raw(@settings.secondary_call_to_action_description) %></div>
    <div class="center"><a href="<%= url_for checkout_amount_path %>" class="blue_button"><%= @settings.secondary_call_to_action_button %></a></div>
  </div>
</div>
