<div id="footer">
  <div class="container clearfix">
  	<p class="pull-left"><a href="http://www.crowdhoster.com" style="color:#6b6b6b">Powered by Crowdhoster</a></p>
    <p class="pull-right">© <%= @settings.copyright_text %></p>
  </div>
</div>