<div id="footer">
  <div class="container clearfix">
  	<p class="pull-left"><a href="http://www.crowdhoster.com" target="_blank">Powered by Crowdhoster // A Crowdtilt project</a></p>
    <p class="pull-right">© <%= @settings.copyright_text %></p>
  </div>
</div>