<div id="homepage">
  <div class="container clearfix">
    <table class="table table-striped">
    <tr>
      <th>Name</th>
      <th>Goal</th>
      <th>Expiration Date</th>
      <th></th>
    </tr>
  
    <% @campaigns.each do |campaign| %>
      <tr>
        <td><%= link_to campaign.name, campaign_home_path(campaign) %></td>
        <td><%= campaign.goal %></td>
        <td><%= campaign.expiration_date %></td>
      </tr>
    <% end %>
    </table>
  </div>
</div>