<div id="second_call_to_action">
  <div class="container center">
    <h2><%= @settings.ships %></h2>
    <a href="<%= url_for checkout_path %>" class="btn btn-primary"><%= @settings.middle_reserve_text %></a>
  </div>
</div>
