<div class="sidebar">
  <strong>Payment Question 1</strong>
  <p>
    We recommend that you only charge backers when you can ship, otherwise your payment provider won't be happy.
  </p>
  <strong>Payment Question 2</strong>
  <p>
    We recommend that you only charge backers when you can ship, otherwise your payment provider won't be happy.
  </p>
  <strong>Payment Question 3</strong>
  <p>
    We recommend that you only charge backers when you can ship, otherwise your payment provider won't be happy.
  </p>
</div>