#campaign {
  /*************************************
  ********** FUNDING AREA **************
  **************************************/
  #funding_area {
    width: 100%;
    padding: 30px 0 40px;
    background: #ffffff;
    
    .media_content {
      margin-bottom: 20px;
      
      #video {
        display: inline-block;
        width: 640px;
        height: 360px;
        background: #fff;
        -moz-box-shadow: 0 2px 6px rgba(0,0,0,.39); /* drop shadow */
        -webkit-box-shadow: 0 2px 6px rgba(0,0,0,.39); /* drop shadow */
        box-shadow: 0 2px 6px rgba(0,0,0,.39); /* drop shadow */
        img:hover
        {
      	 opacity: 0.5;
      	 cursor: pointer;
        }
      }
      
      #image {
        display: inline-block;
        width: 640px;
        height: 360px;
        -moz-box-shadow: 0 2px 6px rgba(0,0,0,.39); /* drop shadow */
        -webkit-box-shadow: 0 2px 6px rgba(0,0,0,.39); /* drop shadow */
        box-shadow: 0 2px 6px rgba(0,0,0,.39); /* drop shadow */    
      }
    }
    
    .top_content {
      .campaign_title {
        width: 450px;
        padding-right: 30px;
        float: left;
      }
    }
    
    .stats {
      padding-left: 30px;
      width: 422px;
      float: left;        
      border-left: 1px solid #d9d9d9;
      
      .amount {
        font-family: "Helvetica", "sans-serif";
        font-size: 44px;
        color: #407f00;
        font-weight: bold;
        .goal {
          font-size: 30px;
          font-weight: normal;
          color: #676767;
        }
      }
      .progress_bg {
        margin-top: -10px;
        margin-bottom: 30px;
        float: left;
        height: 10px;
        -moz-box-shadow: 0 1px 1px rgba(0,0,0,.41); /* drop shadow */
        -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.41); /* drop shadow */
        box-shadow: 0 1px 1px rgba(0,0,0,.41); /* drop shadow */
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 30px;
        width: 422px;
        background: #dbdbdb;
        
        .progress {
          height: 10px;
          -moz-box-shadow: 0 1px 1px rgba(0,0,0,.59); /* drop shadow */
          -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.59); /* drop shadow */
          box-shadow: 0 1px 1px rgba(0,0,0,.59); /* drop shadow */
          background-color: #407f00;
          background-image: -moz-linear-gradient(90deg, #407f00 0%, #407f00 100%); /* gradient fill */
          background-image: -o-linear-gradient(90deg, #407f00 0%, #407f00 100%); /* gradient fill */
          background-image: -webkit-linear-gradient(90deg, #407f00 0%, #407f00 100%); /* gradient fill */
          background-image: linear-gradient(90deg, #407f00 0%, #407f00 100%); /* gradient fill */
          -webkit-border-radius: 30px;
          -moz-border-radius: 30px;
          border-radius: 30px;
          min-width: 2%;
          width: 100%;
          max-width: 100%;
          display: inline-block;
        }
      }
      
      .sub_stats {
        .backers {
          float: left;
          width: 48%;
          border-right: 1px solid #d9d9d9;
        }
        .time {
          float: left;
          width: 48%;
        }
        p {
          font-size: 16px;
        }
      }

      #reserve_container {
        width: 100%;

        .call_to_action_button {
          text-align: center;
        }
        .call_to_action_description {
          
          p, span {
            line-height: 1;
          }  
        }
      }
      

    }
    
    .share {
      margin-top: 24px;
    }
  }
  
  /*************************************
  ********** CUSTOM CONTENT ************
  **************************************/
  #custom_content {
    width: 100%;
    padding: 50px 0 40px;
    background-color: #f2f2f2;
  }
  
  /*************************************
  ******** SECOND CALL TO ACTION *******
  **************************************/
  #second_call_to_action {
    width: 100%;
    padding: 50px 0 40px;
    background: #ffffff;
    
    h2 {
      margin-bottom: 26px;
    }
  }
  
  /*************************************
  ************* FAQ ********************
  **************************************/
  #faq {
    width: 100%;
    padding: 50px 0 40px;
    background-color: #f2f2f2;
    
    ul {
      margin-top: 30px;
      float: left;
      width: 45%;
      
      li {
        width: 400px;
        margin: 0 49px 30px 0;
        padding-left: 18px;
        background: url(image_path("bullet-green.png")) no-repeat left 8px;
        
        p {
          margin-top: 10px;
          line-height: 1.4;
          font-size: 18px;
        }
      }
    }
  }
}