<div id="checkout">
  <div class="container content_box clearfix">
    <div class="main_content">
      <h3><%= @campaign.name %></h3>
      
      <div class="well" style="background-color: #ffffff">
        <form accept-charset="UTF-8" action="<%= checkout_payment_path(@campaign) %>" method="GET" id="amount_form">
          
          <div>
          <p>Please enter an amount: </p>
          <br/>
          <div class="amount_input" style="position:relative">
            <input id="amount" type="text" name="amount"/>&nbsp;&nbsp;
            <span style="position:absolute">$</span>
          </div>
          <span>Minimum is $<%= number_with_precision(@campaign.min_payment_amount, precision: 2) %></span>
          </div>
          
          <br/>
          <button type="submit" class="btn btn-primary">Continue to next step</button>
        
        </form>
      </div>
      
    </div>
    <%= render 'campaigns/checkout_sidebar' %>
  </div>
</div>
