#main {
  min-height: 400px;
}

h1 {
  margin: 0 auto;
  font-family: Helvetica;
  font-size: 42px;
  font-weight: bold;
  color: $h1_color;
  letter-spacing: -.05em;
  a {
    color: $h1_color;
    text-decoration: none;
    &:hover {
      color: $h1_color;
      text-decoration: none;      
    }
  }
}

h2 {
  font-family: $primary_font, $secondary_font, $tertiary_font;
  font-size: 45px;
  color: $h2_color;
  margin-bottom: 50px;
  font-weight: 200;
  letter-spacing: 2px;
}

h3 {
  font-family: $primary_font, $secondary_font, $tertiary_font;
  font-size: 30px;
  color: $h3_color;
  margin-bottom: 20px;
  font-weight: 200;
}

h4 {
  font-size: 20px;
  color: $h4_color;
  margin-bottom: 10px;
  font-weight: 200;
}

h5 {
  font-family: $primary_font, $secondary_font, $tertiary_font;
  margin-bottom: 10px;
  color: $h5_color;
  font-weight: normal;
}

p {
  font-family: "Helvetica Neue","Helvetica","Arial";
  color: #6b6b6b;
  font-size: 18px;
  line-height: 1.5;
  text-shadow: 0 1px 0px #fff;
}

.center {
  text-align: center;
}

.ml-20 {
  margin-left: 20px;
}

.loader {
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url('/assets/loading.gif');
}

#errors p{
  color: red;
  font-size: 14px;
}

#share_buttons {

  position: relative;
  .like {
    position: absolute;
    top: 0px;
    left: 0px;
  }
  
  .tweet {
    position: absolute;
    top: 0px;
    left: 110px;
  }
  
  .pin {
    position: absolute;
    top: 0px;
    left: 225px;
  }
}