<div id="header">
  <div class="container center">
    <% if @settings.logo_image.file? %>
      
      <%= image_tag @settings.logo_image.url, alt: "logo" %>
    
    <% else %>
    
      <h1><a href="/"><%= @settings.project_name %></a></h1>
    
    <% end %>
  </div>
</div>